.movie-card {
    border: 1px solid black;
    margin: 5px;
    background-color: #f8f9fa;
    margin: auto;
    width: 17vw;
    transition: transform 0.2s;
}

.movie-card:hover {
    transform: scale(1.05);
}
.movie-card-info {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
    margin: 0;
}

/* CSS for Modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
