header {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #198754;
}

#title-text {
  color: white;
  z-index: 999;
}

.sticky-bar {
  display: flex;
  position: sticky;
  flex-wrap: wrap;
  top: 0px;
  padding: 5px;
  z-index: 999;
}

footer {
  display: flex;
  justify-content: end;
  text-align: center;
  color: white;
  min-height: 3%;
  bottom: 0;
  width: 100%;
  z-index: 999;
}

.margin-h {
  margin-left: 1%;
  margin-right: 1%;
}

.flex {
  display: flex;
}

.center-v {
  margin-top: auto;
  margin-bottom: auto;
}

#load-button {
  display: flex;
  justify-content: center;
  margin: 10px auto;
}

.right {
  margin-left: auto;
  margin-right: 1%;
}

.nowrap {
  white-space: nowrap;
  overflow: clip;
}

#main-body {
  position: relative;
}

#movie-body {
  transition: margin-right 0.5s;
}
