body {
  margin: 0;
  background-color: #282c34;
  font-family: 'Poppins', Arial, serif;
}

.button {
  all: unset;
  background-color: #777;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: black;
}

.button-active {
  background-color: black;
}

#load-button {
  margin: auto;
}

.modal-button {
  width: 90%;
  display: flex;
  justify-content: center;
}

.background-green {
  background-color: #198754;
}

.background-red {
  background-color: #dc3545;
}