.movie-content {
    padding: 10px;
    background: rgba(255,255,255,0.75);
}

.modal-background-img {
    background-size: cover;
}

.modal-movie-img {
    width: 20vw;
}

.flex {
    display: flex;
}

.movie-stat {
    margin-left: 1%;
    overflow: auto;
    max-height: 90vh;
}

iframe { 
    width: 95%;
    aspect-ratio: 16 / 9;
}