.movie-content {
    padding: 10px;
    background: rgba(255,255,255,0.75);
}

.modal-background-img {
    background-size: cover !important;
}

.modal-movie-img {
    width: 100%;
}

.flex {
    display: flex;
}

.movie-stat {
    margin-left: 1%;
    overflow: auto;
    max-height: 90vh;
}

iframe { 
    width: 95%;
    aspect-ratio: 16 / 9;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 70%; /* Could be more or less, depending on screen size */
    animation: modalFadeIn 0.3s ease-in-out forwards;
}

@keyframes modalFadeIn {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.modal-left {
    max-width: 40%;
    overflow: clip;
}